/*VARIABLES*/
/*COLORES*/
$color-h1: #1766a3;
$color-h2: rgb(98, 199, 111);
$color-h3: grey;
$color-principal: #183153;
$color-secundario: #658aa0; 
$color-opcional: #062755;
/*IMPORTS DEL RESET CSS*/
@import "reset.scss";
/*IMPORTS DEL BODY*/
@import "body/header";
@import "body/footer";
/*IMPORTS DEL MAIN*/
@import "main/perfil";
@import "main/skills";
/*MODAL SKILLS*/
@import "main/skills-modal";
@import "main/portafolio";
@import "main/trabajo";
@import "main/testimonios";
@import "main/contacto";