#PERFIL {
    background: linear-gradient(to bottom, #b3c7ff, #fff5f5);
    background-size: cover;
    background-attachment: fixed;   
}
.perfil {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*EDICION DE PERFIL CON IMAGEN*/
    .perfil__img {
        position: relative;
        width: 280px;
        height: 377px;
        overflow: hidden;
        /*ANIMACIÓN TOP*/
        span:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, transparent, #3634a549);
            animation: animate-1 2s linear infinite;
        }
        @keyframes animate-1 {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(100%);
            }
        }
        /*ANIMACIÓN RIGHT*/
        span:nth-child(2) {
            position: absolute;
            top: 0;
            right: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(to bottom, transparent, #3634a549);
            animation: animate-2 2s linear infinite;
            animation-delay: 1s;
        }
        @keyframes animate-2 {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(100%);
            }
        }
        /*ANIMACIÓN BOTTOM*/
        span:nth-child(3) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(to left, transparent, #3634a549);
            animation: animate-3 2s linear infinite;
            animation-delay: 1s;
        }
        @keyframes animate-3 {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
        /*ANIMACIÓN LEFT*/
        span:nth-child(4) {
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(to left, transparent, #3634a549);
            animation: animate-4 2s linear infinite;
            animation-delay: 1s;
        }
        @keyframes animate-4 {
            0% {
                transform: translateY(100%);
            }
            100% {
                transform: translateY(-100%);
            }
        }
        img {
            width: 100%;
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones de transformación y sombra */
        }
    }
    .perfil__img:hover img{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombras adicionales */
    }
    /*EDICION DEL CONTENEDOR DE CONTENIDO*/
    .perfil__contenido {
        width: 60%;
    }
    .perfil-contenido__titulos h1 {
        font-size: 40px;
        margin-bottom: 15px;
        color: var($color-principal);
        text-shadow: 2px 2px #808080;
    }
        /*ANIMACION TITULO*/
    /* Estilo base para el título */
    .maquina {
        display: inline-block;
        overflow: hidden;
    }

    /* Simula el cursor parpadeante */
    .maquina::after {
        content: '|';
        display: inline-block;
        animation: blink-caret 0.7s step-end infinite;
        vertical-align: middle;
    }
    
    /* Animación del cursor parpadeante */
    @keyframes blink-caret {
        from, to {
        opacity: 0;
        }
        50% {
        opacity: 1;
        }
    }
    /*CONTENIDO PARRAFO*/
    .perfil-contenido__parrafo p {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    /*CONTENIDO BOTON*/
    .perfil-contenido__cv {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .btn-perfil {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background: #183153;
            font-family: "Montserrat", sans-serif;
            box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            border: none;
            cursor: pointer;
        }
        
        .btn-perfil:after {
            content: " ";
            width: 0%;
            height: 100%;
            background: #658aa0;
            position: absolute;
            transition: all 0.4s ease-in-out;
            right: 0;
        }
        
        .btn-perfil:hover::after {
            right: auto;
            left: 0;
            width: 100%;
        }
        
        .btn-perfil span {
            text-align: center;
            text-decoration: none;
            width: 100%;
            padding: 18px 25px;
            color: #fff;
            font-size: 1.125em;
            font-weight: 700;
            letter-spacing: 0.3em;
            z-index: 20;
            transition: all 0.3s ease-in-out;
        }
        
        .btn-perfil:hover span {
            color: #183153;
            animation: scaleUp 0.3s ease-in-out;
        }
        
        @keyframes scaleUp {
            0% {
                    transform: scale(1);
            }
        
            50% {
                transform: scale(0.95);
            }
            
            100% {
                transform: scale(1);
            }
        }
    }
}

@media (max-width: 860px) {
    #PERFIL {
        height: auto;
    }
    .perfil {
        padding-top: 80px;
        flex-direction: column;
        .perfil__contenido {
            text-align: center;
            width: 100%;
        }
    }
    
}