#PORTAFOLIO {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #ebeaea;
    padding: 20px 0;
    .h1-portafolio {
        color: $color-h1;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
}

.portafolio {
    width: 100%;
    height: 100%;
    padding: 0 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .card__portafolio1,
    .card__portafolio2,
    .card__portafolio3 {
        position: relative;
        overflow: hidden;
        margin: 20px;
        img {
            width: 370px;
        }
        .card__portafolio1-info,
        .card__portafolio2-info,
        .card__portafolio3-info {
            text-align: center;
            width: 80%;
            background-color: white;
            padding: 1.5rem 2rem;
            box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
            border-radius: 1.5rem;
            position: absolute;
            bottom: -9rem;
            left: 0;
            right: 0;
            margin-inline: auto;
            opacity: 0;
            transition: opacity 1s 1s;
            span {
                display: block;
                font-size: 20px;
                margin-bottom: .25rem;
            }
            h3 a{
                font-size: 16px;
                font-weight: 500;
                color: $color-h3;
                margin-bottom: .75rem;
                transition: .3s;
                &:hover {
                    color: $color-opcional;
                    transition: .3s;
                    text-decoration: underline;
                }
            }
            a {
                font-size: 30px;
                font-weight: 500;
                color: black;
                transition: .3s;
                &:hover {
                    transition: .3s;
                    color: $color-opcional;
                }
            }
            .fa-brands {
                font-size: 30px;
                margin-left: 10px;
            }
        }
    }
}

/*animacion del hover*/
.card__portafolio1:hover .card__portafolio1-info,
.card__portafolio2:hover .card__portafolio2-info,
.card__portafolio3:hover .card__portafolio3-info {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__portafolio1:hover,
.card__portafolio2:hover,
.card__portafolio3:hover {
    animation: remove-overflow 2s forwards;
} 

.card__portafolio1:not(:hover),
.card__portafolio2:not(:hover),
.card__portafolio3:not(:hover) {
    animation: show-overflow 2s forwards;
} 
.card__portafolio1:not(:hover) .card__portafolio1-info,
.card__portafolio2:not(:hover) .card__portafolio2-info,
.card__portafolio3:not(:hover) .card__portafolio3-info {
    animation: remove-data 1s forwards;
} 



/*ANIMACIÓN DE TARJETAS*/
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}


@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

/*MEDIA QUERIES*/
@media (max-width: 1337px) {
    #PORTAFOLIO {
        height: auto;
    }
}

@media (max-width: 450px) {
    .card__portafolio1,
    .card__portafolio2,
    .card__portafolio3 {
        img {
            width: 260px !important;
        }
    }
}