#SKILLS {
    background-color: #e0e0e0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    .h1-skills {
        color: #333;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        }
}

.skills {  display: grid;
    padding: 0 4%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "skills-lenguajes skills-framework skills-herramientas"
    "skills-lenguajes skills-framework skills-herramientas"
    "skills-lenguajes skills-framework skills-herramientas";
}

/*GRILLA DE SKILL LENGUAJES*/
.skills-lenguajes {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 125px 130px auto 80px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "skill-logo_lenguaje skill-logo_lenguaje skill-logo_lenguaje"
    "skill-titulo_lenguaje skill-titulo_lenguaje skill-titulo_lenguaje"
    "skill-cont_lenguaje skill-cont_lenguaje skill-cont_lenguaje"
    "skill-boton_lenguaje skill-boton_lenguaje skill-boton_lenguaje";
    grid-area: skills-lenguajes;
}

.skill-logo_lenguaje { grid-area: skill-logo_lenguaje; }

.skill-titulo_lenguaje { grid-area: skill-titulo_lenguaje; }

.skill-cont_lenguaje { grid-area: skill-cont_lenguaje; }

.skill-boton_lenguaje { grid-area: skill-boton_lenguaje; margin: auto;}

/*GRILLA DE SKILL FRAMEWORK*/
.skills-framework {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 125px 130px auto 80px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "skill-logo_framework skill-logo_framework skill-logo_framework"
    "skill-titulo_framework skill-titulo_framework skill-titulo_framework"
    "skill-cont_framework skill-cont_framework skill-cont_framework"
    "skill-boton_framework skill-boton_framework skill-boton_framework";
    grid-area: skills-framework;
}

.skill-logo_framework { grid-area: skill-logo_framework; }

.skill-titulo_framework { grid-area: skill-titulo_framework; }

.skill-cont_framework { grid-area: skill-cont_framework; }

.skill-boton_framework { grid-area: skill-boton_framework; margin: auto;}

/*GRILLA DE SKILL HERRAMIENTAS*/
.skills-herramientas {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 125px 130px auto 80px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "skill-logo_herramientas skill-logo_herramientas skill-logo_herramientas"
    "skill-titulo_herramientas skill-titulo_herramientas skill-titulo_herramientas"
    "skill-cont_herramientas skill-cont_herramientas skill-cont_herramientas"
    "skill-boton_herramientas skill-boton_herramientas skill-boton_herramientas";
    grid-area: skills-herramientas;
}

.skill-logo_herramientas { grid-area: skill-logo_herramientas; }

.skill-titulo_herramientas { grid-area: skill-titulo_herramientas; }

.skill-cont_herramientas { grid-area: skill-cont_herramientas; }

.skill-boton_herramientas { grid-area: skill-boton_herramientas; margin: auto;}

/*ESTRUCTURA DE CAJAS SKILL*/
.skills-lenguajes,
.skills-framework,
.skills-herramientas {
    text-align: center;
    height: auto;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.87);
    border-top: 1px solid rgba(121, 117, 117, 0.39);
    border-bottom: 1px solid rgba(121, 117, 117, 0.39);
}
/*SOMBREADOS*/
.skills-lenguajes {
    border-left: 1px solid rgba(121, 117, 117, 0.39);
    border-radius: 30px 0 0 30px;
}
.skills-herramientas {
    border-right: 1px solid rgba(121, 117, 117, 0.39);
    border-radius: 0 30px 30px 0;
}
.skills-lenguajes,
.skills-framework {
    border-right: 2px solid rgba(66, 66, 66, 0.459);
}
/*ICONOS*/
.skills-lenguajes img,
.skills-framework img,
.skills-herramientas img {
    width: 80px;
}

/*EDICIÓN DE LOS BOTONES DE SKILLS*/
.skill-link_lenguaje::before,
.skill-link_framework::before,
.skill-link_herramientas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: $color-secundario;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.skill-link_lenguaje:hover,
.skill-link_framework:hover,
.skill-link_herramientas:hover {
    color: #e8e8e8;
}

.skill-link_lenguaje:hover::before,
.skill-link_framework:hover::before,
.skill-link_herramientas:hover::before {
    width: 100%;
}


/*MEDIA QUERIES DE SKILLS*/
@media (max-width: 1215px) {
    .skills {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "skills-lenguajes skills-framework"
        "skills-lenguajes skills-framework"
        "skills-lenguajes skills-framework"
        "skills-herramientas skills-herramientas"
        "skills-herramientas skills-herramientas"
        "skills-herramientas skills-herramientas";
    }
    .skills-lenguajes {
        border-left: 1px solid rgba(121, 117, 117, 0.39);
        border-top: 1px solid rgba(121, 117, 117, 0.39);
        border-radius: 30px 0 0 0;
    }
    .skills-framework {
        border-top: 1px solid rgba(121, 117, 117, 0.39);
        border-right: 1px solid rgba(121, 117, 117, 0.39);
        border-radius: 0 30px 0 0;
    }
    .skills-herramientas {
        border-left: 1px solid rgba(121, 117, 117, 0.39);
        border-right: 1px solid rgba(121, 117, 117, 0.39);
        border-bottom: 1px solid rgba(121, 117, 117, 0.39);
        border-radius: 0 0 30px 30px;
    }
}
@media (max-width: 650px) {
    .skills {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "skills-lenguajes"
        "skills-lenguajes"
        "skills-lenguajes"
        "skills-framework"
        "skills-framework"
        "skills-framework"
        "skills-herramientas"
        "skills-herramientas"
        "skills-herramientas";
    }
    .skills-lenguajes {
        border-left: 1px solid rgba(121, 117, 117, 0.39);
        border-right: 1px solid rgba(121, 117, 117, 0.39);
        border-top: 1px solid rgba(121, 117, 117, 0.39);
        border-bottom: 1px solid rgba(121, 117, 117, 0.39);
        border-radius: 30px 30px 0 0;
    }
    .skills-framework {
        border-left: 1px solid rgba(121, 117, 117, 0.39);
        border-right: 1px solid rgba(121, 117, 117, 0.39);
        border-top: 1px solid rgba(121, 117, 117, 0.39);
        border-bottom: 1px solid rgba(121, 117, 117, 0.39);
        border-radius: 0;
    }
    .skills-herramientas {
        border-left: 1px solid rgba(121, 117, 117, 0.39);
        border-right: 1px solid rgba(121, 117, 117, 0.39);
        border-top: 1px solid rgba(121, 117, 117, 0.39);
        border-bottom: 1px solid rgba(121, 117, 117, 0.39);
        border-radius: 0 0 30px 30px;
    }
}

@media (max-width: 400px) {
    .skill-cont_herramientas {
        margin-top: 50px;
    }
}