@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$font-test: 'Poppins', sans-serif;

#TESTIMONIOS {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebeaea;
    flex-direction: column;
    height: auto;
    padding: 20px 4%;
    .h1-testimonios {
        color: $color-h1;
        font-size: 40px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        }
}

.testimonios {
    position: relative;
    max-width: 990px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1), /* Sombra superior */
                -2px 0 5px rgba(0, 0, 0, 0.1), /* Sombra izquierda */
                2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra derecha */
    border-radius: 30px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    .image {
        height: 170px;
        width: 170px;
        object-fit: cover;
        border-radius: 50%;
    }
    .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
        p {
            text-align: center;
            padding: 0 100px;
            font-size: 14px;
            font-weight: 400;
            color: #333;
        }
        .quote-icon {
            font-size: 30px;
            color: #4070f4;
        }
        .details {
            display: flex;
            flex-direction: column;
            align-items: center;
            .name {
                font-size: 14px;
                font-weight: 600;
                color: #333;
            }
            .job {
                font-size: 12px;
                font-weight: 400;
                color: #333;
            }
        }
    }
}

/*SWIPPER BUTTON CSS*/
.nav-testi-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    :hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    ::after,
    ::before {
        font-size: 20px;
        color: #fff;
    }
}
.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
    background-color: #4070f4;
}

@media screen and (max-width: 768px){
    .slide p {
        padding: 0 20px;
    }
    .nav-testi-btn {
        display: none;
    }
}