

.trabajo {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    .trabajo-slider {
        display: flex;
        justify-content: center;
        .slide {
            width: 300px;
            img {
                width: 100%;
            }
        }
    }
}